<%- include('components/header') %>
<%- include('components/navbar') %>

<div class="container">
    <h1>Customers</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(customer => { %>
            <tr>
                <td><%= customer.id %></td>
                <td><%= customer.name %></td>
                <td><%= customer.email %></td>
                <td><%= customer.region %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

</body>
</html>
